@charset "utf-8";

@font-face {
	font-family: 'DejaVuSansMono';
	src: url('DejaVuSansMono.ttf');
}

.unicodetiles {
	font-family: "DejaVuSansMono", "DejaVu Sans Mono", monospace;
	white-space: pre;
	text-align: center;
	line-height: 1;
	letter-spacing: 0px;
	display: inline-block;
	overflow: hidden;
}
