@charset "utf-8";

@font-face {
	font-family: 'DejaVuSansMono';
	src: url('DejaVuSansMono.ttf');
}

.unicodetiles {
	font-family: "DejaVuSansMono", "DejaVu Sans Mono", monospace;
	font-size: 20px;
	white-space: pre;
	text-align: center;
}
